<!-- <div class="card">
  <div class="card-title">
    <h2>Informações de Usuário</h2>
  </div>
  <hr>
  <div class="secao-cima">
    <div class="bloco1">
      <h3>{{listaArquivos.length}}</h3>
      <p>Total</p>

    </div>
    <div class="bloco2">
      <h3>12</h3>
      <p>Inativos</p>

    </div>

  </div>
  <div class="secao-baixo">
    <div class="bloco3">
      <h3>47</h3>
      <p>Ativos</p>

    </div>

    <div class="bloco4">
      <h3>4</h3>
      <p>Grupos</p>

    </div>

  </div>
</div> -->
