<app-navbar></app-navbar>
<app-menu-lateral></app-menu-lateral>
<div class="p-4 sm:ml-64">
  <div class="flex justify-between items-center pt-20">
    <app-breadcrumb-disciplina></app-breadcrumb-disciplina>
    <app-barra-pesquisa-disciplina></app-barra-pesquisa-disciplina>
  </div>
  <div class="pl-8 pt-4 pb-4">
    <app-track-page-disciplina></app-track-page-disciplina>
  </div>
  <div class="flex justify-between items-center pl-8">
    <app-buscar-disciplina></app-buscar-disciplina>
    <app-modal-create-disciplina></app-modal-create-disciplina>
  </div>
  <div class="pt-5 pl-8">
    <app-gerenciamento-disciplina-components></app-gerenciamento-disciplina-components>
  </div>
</div>
