<button type="button" class="px-14 py-3 text-md font-semibold text-white inline-flex items-center bg-[color:var(--cinza-principal-escuro)] hover:bg-[color:var(--cinza-principal-medio)] rounded-lg text-center" (click)="openModal()">
  Grupos
</button>

<!-- Template do modal -->
<ng-template #modalTemplate>
  <div class="modal w-[680px]">
    <h1 mat-dialog-title>Criar Lista Compartilhada</h1>
    <mat-dialog-content>
      <!-- Conteúdo será inserido aqui -->
    </mat-dialog-content>
  </div>
</ng-template>
