<!-- @for (item of extensoes; track $index) {
  <h1>{{item}}</h1>

} -->

<div class="flex flex-row p-2 ml-5">
  @for (extensao of extensoes; track extensao) {
    <button (click)="filtarArquivos(extensao)">

      <div class="text-white px-3 py-1.5 m-1 bg-gray-700 text-sm rounded-xl border border-black inline-flex justify-center items-center">
        {{extensao}}
      </div>

    </button>

  }
</div>


@for (versao of versoesFiltradas; track versao) {
  <div class="flex items-center gap-4">
    <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
      <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
  </div>
    <div class="font-bold dark:text-white flex flex-row items-center">
      <div>{{autor?.usuario_nome}}</div>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-400 ml-2">{{stringToDate(versao.arquivo_data!) | date: 'dd/MM/yyyy hh:mm:ss' }}</div>
    </div>
  </div>
  <div class="w-4/5 flex h-16 max-h-24 ml-16 bg-[color:var(--cinza-secundario)] rounded-lg">
    <div class="w-1/2 h-full flex flex-col items-center justify-center">
      <div class="arquivo-nome flex flex-row items-center justify-between pt-2 pb-0">
        <svg class="h-6 w-6 text-gray-900"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />  <polyline points="14 2 14 8 20 8" />  <line x1="16" y1="13" x2="8" y2="13" />  <line x1="16" y1="17" x2="8" y2="17" />  <polyline points="10 9 9 9 8 9" /></svg>
        <div class="font-bold">{{versao.arquivo_descricao}}</div>
      </div>
      <div class="arquivo-dados flex flex-row items-center justify-between pt-1">
        <div class="text-sm text-gray-500 dark:text-gray-400">{{versao.arquivo_versao}}º REV</div>
        <div class="separator mx-2"></div>
        <div class="text-sm text-gray-500 dark:text-gray-400">18 MB</div>
        <div class="separator mx-2"></div>
        <div class="text-sm text-gray-500 dark:text-gray-400">{{ getExtensao(versao.arquivo_descricao) }}</div>
      </div>
    </div>
    <div class="w-1/3 h-full flex flex-row items-center justify-between">
      <div class="text-green-700 px-3 py-1.5 m-1 bg-green-200 bg-opacity-50 text-sm rounded-xl border border-green-500 inline-flex justify-center items-center">Liberado</div>
      <button (click)="downloadFile(versao)">
        <svg class="w-6 h-6 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd"/>
        </svg>
      </button>

    </div>
  </div>

  } @empty {
    Não há outras versões desse arquivo
  }
