<button type="button"
  class="flex justify-center items-center p-6 mb-[10px] text-black hover:bg-gray-200  w-[199px] h-[45.37px] border-black border-[0.99px] rounded-[7.89px]"
  (click)="openDialog()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-[15.25px] h-[18.15px]">
    <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
  </svg>
  <span class="flex ml-1  font-['Opens Sans'] text-[16px] leading-[26.86px] text-black">Novo</span>
</button>

