/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cinza-principal-escuro);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--cinza-border);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cinza-principal-claro);
}
.active-class {
  display: none;
  margin-left: 50px;
}
