<div class="modal w-[680px]">
  <h1 mat-dialog-title>Criar usuário</h1>
  <mat-dialog-content>
    <form [formGroup]="usuarioForm">
      <div>
        <label for="nome-completo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome Completo</label>
        <div class="flex">
          <input formControlName="usuario_nome" type="text" id="nome-completo" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Bonnie Green">
        </div>
      </div>
    
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
        <div class="flex">
          <input formControlName="usuario_email" type="text" id="email" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="usuario@email.com">
        </div>
      </div>
    
      <div>
        <label for="cpf" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CPF</label>
        <div class="flex">
          <input formControlName="usuario_cpf" type="text" id="cpf" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="000.000.000-00">
        </div>
      </div>
    
      <div>
        <label for="cnpj" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CNPJ</label>
        <div class="flex">
          <input formControlName="usuario_cnpj" type="text" id="cnpj" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="00.000.000/0000-00">
        </div>
      </div>
    
      <div>
        <label for="endereco" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Endereço</label>
        <div class="flex">
          <input formControlName="usuario_endereco" type="text" id="endereco" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rua ABC, 123">
        </div>
      </div>
    
      <div>
        <label for="cargo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cargo</label>
        <div class="flex">
          <input formControlName="usuario_cargo" type="text" id="cargo" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cargo do Usuário">
        </div>
      </div>
    

      <!-- Esses campos setados manualmente para tipo 1, empresa 4, status 1  -->

      <!-- <div>
        <label for="tipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo Usuário</label>
        <div class="flex">
          <input formControlName="usuario_tipo" type="number" id="tipo" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tipo do usuário">
        </div>
      </div>
    
      <div>
        <label for="empresa-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Empresa ID</label>
        <div class="flex">
          <input formControlName="empresa_id" type="number" id="empresa-id" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ID da Empresa">
        </div>
      </div>
    
      <div>
        <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
        <div class="flex">
          <input formControlName="usuario_status" type="number" id="status" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0">
        </div>
      </div> -->
    
      <div class="flex justify-end">
        <button type="submit" class="px-5 py-2 mt-16 text-sm font-medium text-white bg-[color:var(--cinza-principal-escuro)] hover:bg-[color:var(--cinza-principal-medio)] rounded-lg text-center"
        (click)="onSubmit()">
          Criar
        </button>
      </div>
    </form>


  </mat-dialog-content>
</div>
