<!--
<div class="w-70 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  <div class="block w-full px-4 py-4 text-white bg-white border-b border-gray-200 rounded-t-lg dark:bg-gray-800 dark:border-gray-600 posicao">
    <p class="fonte-principal font-preta">
      Arquivos <br> Recentes
    </p>
    <a href="#" class="font-azul">
      View all
    </a>
  </div>
  <a href="#" class="block w-full px-4 py-6 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
      Arquivo 1
      <p class="ultimo-acesso">último acesso: 14:43</p>
  </a>
  <a href="#" class="block w-full px-4 py-6 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    Arquivo 2
    <p class="ultimo-acesso">último acesso: 14:50</p>
  </a>
  <a href="#" class="block w-full px-4 py-6 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    Arquivo 3
    <p class="ultimo-acesso">último acesso: 16:22</p>
</a>
<a href="#" class="block w-full px-4 py-6 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
  Arquivo 4
  <p class="ultimo-acesso">último acesso: há 2 dias</p>
</a>
<a href="#" class="block w-full px-4 py-6 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
  Arquivo 5
  <p class="ultimo-acesso">último acesso: há 3 dias</p>
</a>
  <a href="#" class="block w-full px-4 py-6 rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    Arquivo 6
    <p class="ultimo-acesso">último acesso: há 1 semana</p>
  </a>
</div> -->
