<!--  TAB ARQUIVOS  -->

<div class="flex items-center justify-between text-base font-semibold mb-7">
    <span>Arquivo 1</span>
  </div>
  
  <div class="flex items-center gap-2 mb-7">
    <span class="bg-gray-800 text-gray-100 text-sm font-medium px-6 py-1 rounded dark:bg-gray-300 dark:text-gray-300 flex items-center gap-1">
      PDF
    </span>
    <span class="bg-gray-800 text-gray-100 text-sm font-medium px-6 py-1 rounded dark:bg-gray-300 dark:text-gray-300 flex items-center gap-1">
      DWG
    </span>
  </div>
  
  <div class="flex items-center justify-between text-base font-semibold mb-7">
    <span>Quem Visualizou:</span>
    <span class="bg-green-100 text-green-800 text-sm font-medium px-6 py-1 rounded dark:bg-green-900 dark:text-green-300 flex items-center gap-1">
      <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
      </svg>
      2/5
    </span>
  </div>
  
  
  <th scope="row" class="flex items-center py-4 text-left text-gray-900 whitespace-nowrap dark:text-white border-b border-gray-200 dark:border-gray-700">
    <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    <div class="ml-2 w-full flex justify-between">
      <div>
        <div class="text-base font-semibold">Neil Sims</div>
        <div class="font-normal text-gray-500">email&#64;example.com</div>
      </div>
      <div class="font-normal text-gray-500">17/06/2024</div>
    </div>  
  </th>
  <th scope="row" class="flex items-center py-4 font-medium text-left text-gray-900 whitespace-nowrap dark:text-white border-b border-gray-200 dark:border-gray-700">
    <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    <div class="ml-3 w-full flex justify-between">
      <div>
        <div class="text-base font-semibold">Bonnie Green</div>
        <div class="font-normal text-gray-500">email&#64;example.com</div>
      </div>
      <div class="font-normal text-gray-500">17/06/2024</div>
    </div>
  </th>
  
  <div class="relative overflow-x-auto sm:rounded-lg">
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
      <div class="relative">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
        </div>
      </div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="p-4">
            <div class="">
            </div>
          </th>
          <th>
            <div class="text-base text-gray-900">Pendentes</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td class="w-4 p-4 border-b border-gray-200 dark:border-gray-700">
          </td>
          <th scope="row" class="flex items-center py-4 text-left text-gray-900 whitespace-nowrap dark:text-white border-b border-gray-200 dark:border-gray-700">
            <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <div class="ml-2 text-left">
              <div class="text-base font-semibold">Neil Sims</div>
              <div class="font-normal text-gray-500">email&#64;example.com</div>
            </div>  
          </th>
          <th scope="row" class="flex items-center py-4 font-medium text-left text-gray-900 whitespace-nowrap dark:text-white border-b border-gray-200 dark:border-gray-700">
            <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <div class="ml-3">
              <div class="text-base font-semibold">Bonnie Green</div>
              <div class="font-normal text-gray-500">email&#64;example.com</div>
            </div>
          </th>
          <th scope="row" class="flex items-center py-4 font-medium text-left text-gray-900 whitespace-nowrap dark:text-white border-b border-gray-200 dark:border-gray-700">
            <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <div class="ml-3">
              <div class="text-base font-semibold">Jese Leos</div>
              <div class="font-normal text-gray-500">email&#64;example.com</div>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>