<app-navbar></app-navbar>
<div class="p-4 sm:ml-64 bg-gray-100">
  <div id="SidBar" class="col-span-2"><app-menu-lateral></app-menu-lateral></div>
  <div class="flex justify-between mt-[80px]">
    <app-barra-pesquisa></app-barra-pesquisa>
  </div>
  <div class="ml-8 mt-6 mb-8">
    <app-track-page-lista-compartilhada></app-track-page-lista-compartilhada>
  </div>
  <div class="z-0">
    <div class="flex content-center justify-between items-center bg-gray-100 ml-8">
      <app-search-lista-compartilhada></app-search-lista-compartilhada>
      <div class="flex mr-8 w-1/4 justify-between">
        <app-btn-lista-compartilhada></app-btn-lista-compartilhada>
        <app-btn-grupo-lista-compartilhada></app-btn-grupo-lista-compartilhada>
      </div>
    </div>
  <tabela-app-lista-compartilhada></tabela-app-lista-compartilhada>
  </div>
</div>
